* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    /*src: url("/assets/fonts/Roboto/Roboto-Black.ttf");*/
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}

body {
    background-color: #f62613;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #fff;
    padding: 20px;
}

header h1 {
    color: #ff0000;
    /* text-align: center; */
    /* font-size: 50px; */
    font-size: calc(20px + (50 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.score--board {
    margin: 30px auto;
    border: 5px solid #fff;
    border-radius: 5px;
    text-align: center;
    /*width: 500px;*/
    width: 40vw;
    color: #fff;
    background-color: #000;
    /* font-size: 80px; */
    font-size: calc(40px + (80 - 40) * ((100vw - 300px) / (1600 - 300)));
    padding: 25px 30px;
    position: relative;
}

.badge {
    background-color: yellow;
    color: black;
    /* font-size: 30px; */
    font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
    padding: 5px 10px;
}

#userLabel {
    position: absolute;
    top: 45px;
    left: -60px;
}

#computerLabel {
    position: absolute;
    top: 45px;
    right: -95px;
}

.results {
    width: auto;
    /* height: 50px; */
    height: 10vh;
    font-size: calc(14px + (40 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    color: #fff;
}

.choices {
    margin: 50px 0 10px;
    text-align: center;
}

.choices img {
    border-radius: 50%;
    border: 15px solid yellow;
    transition: all 0.3s ease;
}

.choice {
    display: inline-block;
    margin: 0 20px;
    padding: 20px;
}

.choice img:hover {
    outline: 15px solid white;
    cursor: pointer;
    border: 15px solid red;
}

#actionMessage {
    color: #fff;
    text-align: center;
    /* font-size: 35px; */
    font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
}






/*****************************                                          ***********/
/*****************************        @media (max-width: 768px)         ***********/
/*****************************                                          ***********/
/*****************************                                          ***********/

@media (max-width: 768px)  {

    .choice {
        display: block;
    }

    .results {
        height: 2vh;
    }

    .choices {
        margin: 30px 0 10px;
    }

    .choices img {
        height: auto;
        width: 30vw;
    }






}